<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Histórico de Compras</title>
</head>
<body>

  <h1>Histórico de Compras</h1>

  <ul>
    {{#each purchases}} 
      <li>

        <strong>ID da Compra:</strong> {{this.dataValues.id}} <br>

        <strong>Status:</strong> {{this.dataValues.status}} <br>

        <strong>Ingressos adquiridos:</strong>
        <ul>
          {{#each this.Tickets}}  
            <li>{{this.dataValues.nome}} - Quantidade: {{this.PurchaseTicket.dataValues.quantidade}}</li>
       
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>

  
  <a href="/vendas">Voltar para a página de vendas</a>
</body>
</html>
