
{{#*inline "title"}}Página de Vendas{{/inline}}

<h2>Página de Vendas de Ingressos</h2>

<form action="/vendas" method="POST">
<style>
  .bt-comprar:hover{
    background-color: darkgreen;
  }
  .form-group {
    margin-bottom: 15px;
}

</style>

  <div class="form-group">
    <label for="vip">Ingresso VIP (R$ 150):</label>
    <input type="number" id="vip" name="vip" min="0" value="0"> 
  </div>

  <div class="form-group">
    <label for="normal">Ingresso Normal (R$ 50):</label>
    <input type="number" id="normal" name="normal" min="0" value="0"> 
  </div>

  <button type="submit" class="bt-comprar">Comprar</button>
</form>
