<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Define a codificação de caracteres como UTF-8, permitindo o uso de acentuação e caracteres especiais -->
    <meta charset="UTF-8">
    
    <!-- Ajuste da escala da página para dispositivos móveis, garantindo uma visualização otimizada em várias telas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Título da página, exibido na aba do navegador -->
    <title>Venda de Ingressos Online</title>
</head>
<body>
    <header>
        <!-- Cabeçalho da página com o título principal de boas-vindas -->
        <h1>Explore Nosso Sistema de Vendas de Ingressos</h1>
    </header>

    <!-- Espaço reservado para o conteúdo da página, que será preenchido de forma dinâmica -->
    {{{body}}} <!-- Este placeholder será substituído pelo conteúdo gerado pelo motor de templates, como Mustache ou Handlebars -->

    <footer>
        <!-- Rodapé com informações de copyright -->
        <p>&copy; 2025 Todos os direitos reservados - Sistema de Vendas de Ingressos</p>
    </footer>
</body>
</html>
